/* author : @rhmt.pratama
company : kontenpilar Media Indonesia */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{font-family:Poppins;
margin: 0;
padding: 0;


}

body{
  background-color: #fcfc06;
}



#particles-js{
  width: 100%;
  height: 100%;
  position: absolute;

} 


/* navbar */
.container .logo img{
  position: relative;
  z-index: 1;
width: 20%;
height:20%


}


.jumbotron{
  background-image: url(img/BG_vertical.jpg);
  background-size: cover;
  height: 100vh;
  margin-top: -81px;
  padding: 0.1rem 0rem;
  }


/* desktop */

@media (min-width: 992px) { 

.logo img{
    position: relative;
    z-index: 1;
  width: 232px;
  height: 55px;
  }


/* particles */
#particles-js{
  width: 100%;
  height: 100%;
  position: absolute;

} 



/* Hero */
.jumbotron{
background-image: url(img/BG.jpg);
background-size: cover;
height: 100vh;
width: 100vw;
margin-top: -66px;

}

.social-links{

position: absolute;
color: #ffffff;
bottom: 2%;
font-size: 14px;
margin-left: 20px;

}

.social-links a{
  color: #ffffff;
  border-radius: 50%;
  border: 1px solid #fff;
  padding: 8px 9px;
  margin: 4px 5px;
  transition: 1s;
  text-decoration: none;

}

.social-links:hover{
  color: #fcfc06;
  transition: .5s;
  translate: (0, 10px);

}
/* social media */
.fa-whatsapp {
  position: fixed;
  color: #ffffff;
  bottom: 2%;
  margin-left: -500px;
  border-radius: 50%;
  padding: 10px 12px;
  margin: 3px 1146px;
  transition: 1s;
  background-color:#25D366;
  opacity: 90%;
  color: #fff;
  z-index: 1;
  

}
.fa-whatsapp:hover{text-decoration: none;
  background-color:#fff;
  color:#25D366;
  font-size: 25px;
  opacity: 100%;
  box-shadow: rgba(0,0,0, 5);
}

.fa-wa a{text-decoration: none;}



.social-links .fa-facebook-official:hover{
background-color: #4267B2;
color: #fff;
border: #4267B2;}

.social-links .fa-instagram:hover{background-image: linear-gradient(60deg,#F58529,#FEDA77,#DD2A7B,#8134AF,#515BD4);
  color: #fff;
  border:#8a3ab9 ;
}
.social-links .fa-github:hover{background-color: #fff;
  color: #000;
  border:#fff;


}
.social-links .fa-linkedin:hover{background-color:  #0e76a8;
  color: #fff;
  border: #0e76a8;
}

.services{
  background-image: url(img/Hero5.jpg);
  background-size: cover;
  background-position: center;
  margin-top: 600px;
  background-repeat: no-repeat;
  height: 100vh;
  
}

.container h3{
  color: #111111;
  margin-top: 20px;
  padding: 20px;
  text-align: center;
  text-decoration: underline;
  font-weight: bold;
  text-transform: uppercase;
  
}

.card-body{
  text-align: center;
}

.services-icons{
  margin-top: 50px;
  margin-bottom: 30px;
  
}



.card{
  background-color: black;
  box-shadow:  0 10px 6px -6px #000;
}
  
.services .container{
  background-color: #fcfc06;
  
}

.services-counter h2 {
  font-weight: bold;
  margin-top: 30px;
}

.services-counter .container{
  margin-top: 55px;
  box-shadow:  0 8px 6px -6px #000;

}

/* portfolio */

.portfolio .container , .clients .container {
  background-color: #fff;
  height: 50vh;

}

  /* contact */
  .contact{
    background-color: black;
    opacity: 90%;
    background-size: cover;
    margin-top: 20px;
    bottom: 0;
    display: flex;
  }

    .content .container {
      
      text-align: center;
      margin: auto;
    }

    .content .container img {
      width: 14px;
      height: auto;
    }

  
  .footer .container{
    display: flex;
 }

 .footer{background-color: black;}

 .footer .container span{
   margin:auto;
   font-size: small;
   color: burlywood;
  
 }

 .contact .page-break h3{
   color:white;
   line-height: 20px;
 }

 .contact p {color:white;}










  












}


