/* author : @rhmt.pratama
company : kontenpilar Media Indonesia */



body{
  width: auto;
  height: auto;
  background-color: black;
 
}

#particles-js{
  width: 100%;
  height: 100%;
  position: absolute;

} 


/* navbar */
.container .logo img{
  position: relative;
  z-index: 1;
width: 30%;
height: 30%;

}


.jumbotron{
  background-image: url(img/BG_vertical.jpg);
  background-size: cover;
  height: 100%;
  margin-top: -81px;
  padding: 0.1rem 0rem;
  }


/* desktop */

@media (min-width: 992px) { 

.logo img{
    position: relative;
    z-index: 1;
  width: 232px;
  height: 55px;
  }


/* particles */
#particles-js{
  width: 100%;
  height: 100%;
  position: absolute;

} 



/* Hero */
.jumbotron{
background-image: url(img/BG.jpg);
background-size: cover;
height: 100%;
margin-top: -81px;
padding: 0rem 0rem;
}

.social-inks{

  transform: rotate(-90deg);
  position: absolute;
  left: -80px;
  bottom: -180px;
}




}


